---
const pages = Object.values(import.meta.glob('./blog/**/*.astro', { eager: true }));
---

<html>
  <head>
    <title>Dev Index</title>
    <style>
      body{font-family:sans-serif;padding:30px;}
      a{display:block;margin:8px 0;font-size:18px;}
    </style>
  </head>

  <body>
    <h1>記事一覧（開発用）</h1>

    {pages.map((page) => (
      <a href={page.url}>{page.url}</a>
    ))}

  </body>
</html>