---
const posts = Object.entries(import.meta.glob('./blog/**/*.astro', { eager: true }));
---

<h1>記事一覧（開発用）</h1>

<ul>
{posts.map(([path, mod]) => {
  const url = path
    .replace('./', '/')
    .replace('/index.astro', '/')
    .replace('.astro','/');

  return (
    <li>
      <a href={url}>
        {mod.title ?? url}
      </a>
    </li>
  );
})}
</ul>