---
const { title = "かなえるTools", description = "" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="かなえるTools" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kanaeru-tools.com/" />
    <meta property="og:image" content="https://kanaeru-tools.com/ogp/crypto-run_image_free_light.png" />

    {description && <meta name="description" content={description} />}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "かなえるTools",
      "alternateName": "Kanaeru Tools",
      "url": "https://kanaeru-tools.com/"
    }
    </script>

    <link rel="icon" href="/favicon.ico" />
    
  </head>

  <body style="max-width: 800px; margin: 40px auto; font-family: sans-serif;">
    <slot />
  </body>
</html>
